#wrapper {
  display: flex;
  /* width: 100%; */
}

#side-navbar {
  top: 0;
  left: 0;
  right: 0;
  width: 250px;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  height: 100vh;
  z-index: 999;
  /* background: #7386D5; */
  color: gray;
}

#side-navbar ul {
  list-style-type: none;
}







#content {
  display: flex;
  background: #f9f9f9;
}

.card {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card .card-text {
    padding-bottom: 1rem;
}

.card .card-header {
    background-color: lightsteelblue;
}
